@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --secondary-color: 242, 246, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 35, 76, 173;
    --secondary-color: 242, 246, 255;
  }
}

body {
  color: rgb(var(--primary-color));
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
